{% include "header.html" %}

    <p class="lead">Add a new category</p>

    <form action="/category/new" method='post'>
        <div class="form-group row">
            <label for="categoryName" class="col-sm-2 col-form-label">Category name</label>
        <div class="col-sm-8">
            <input type="text" class="form-control" required id="categoryName"
                    name="categoryName" placeholder="Enter name of a new category">
        </div>
        <div class="col-sm-2">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>


{% include "footer.html" %}
