{% include "header.html" %}

    {% if login_session['username']: %}
    <p class="lead">
        <a href="/category/new">
            <button type="button" name="button" class="btn btn-primary">Add a new category</button>
        </a>
        <a href="/item/new">
            <button type="button" name="button" class="btn btn-primary">Add a new item</button>
        </a>
    </p>
    {% else %}
    <p class="lead">Login to add or edit items.</p>
    {% endif %}

    <div class="row">
        <div class="col-4 decorated_list">
            <h2>Categories</h2>
            <ul class="list-group">
            {% for category in categories %}
            <li class="list-group-item">
                <a href="/category/{{category.id}}">{{category.name|capitalize}}</a>
                {% if login_session['email'] == category.creater %}
                <small class="edit_category"><a href="/category/edit/{{category.id}}">Edit</a> |</small>
                <small class="delete_category"><a href="/category/delete/{{category.id}}">Delete</a></small>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
        <div class="col-8 decorated_list">
            <h2>Recent 10 Items</h2>
            <ul class="list-group">
            {% for item in recentItems %}
            <li class="list-group-item">
                <a href="/item/{{item.id}}">{{item.name|capitalize}}({{item.category.name|capitalize}})</a>
                {% if login_session['email'] == item.creater %}
                <small class="edit_item"><a href="/item/edit/{{item.id}}">Edit</a> |</small>
                <small class="delete_item"><a href="/item/delete/{{item.id}}">Delete</a></small>
                {% endif %}
            </li>
            {% endfor %}
            </ul>
        </div>
    </div>

{% include "footer.html" %}
